@charset "utf-8";


html{
    scroll-behavior: smooth;
}
body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 430px;
    background-image: url("/static/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0% 5%; 
}
a {
    color: #505050;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 80PX;
}

nav ul li a{
    margin: 45px;
    font-family: monospace;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    font-family: sans-serif;
    color: rgb(231, 44, 44);
    font-size: 22px;
}

.active{
    font-weight: bold;
    color: rgb(231, 44, 44);
}


.text-container p:nth-child(1){
    font-weight: bold;
    font-family: calibri;
    letter-spacing: 1px;
    color: rgb(231, 44, 44);
    font-size: 65px;
    padding-left: 350px;
    padding-top: 30px;
}

.text-container p:nth-child(2){
    font-family: calibri;
    color: #403e3e;
    font-size: 28px;
    line-height: 20px;
    padding-left: 430px;
}

.text-container p{
    line-height: 0px;
    margin:45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

button{
    width: 130px;
    height: 42px;
    border-radius: 100px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    border: none;
    margin: 0px, 10px;
    cursor: pointer;
}

.hire-btn{
    width: 180px;
    height: 60px;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.contact-me .down-cv a{
    border: none;
    color: #242121;
    outline: none;
} 

.contact-me .down-cv{
    background-color: #ffffff;
    border: none;

}
.contact-me .down-cv1 a{
    border: none;
    color: #242121;
    outline: none;
} 

.contact-me .down-cv1{
    background-color: #fffefe;
    border: none;
    margin-left: 75px;
}

button:active{
    transform:scale(1.03);
}

.model{
    height: 200px;
    position: relative;
    bottom: 20px;
    left: 67%;
    top: 20px;
    transform: translateX(-70%);
}



.about-container{
    width: 80%;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -5% auto 20px auto;
    position: relative;
    /* position: relative; */
    justify-content: space-evenly;
    align-items: center;  
}

.about-container img{
    height: 250px;
}

.about-text{
    width: 550px;
    font-family: monospace;
}

.about-container .about-text ul li{
    font-size: 15px;
}

.services{
    height: 600px;
    background-color:#FFFFFF;
    padding: 2% 10% 0px 10%;
}

.services-text p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 5px;
}

.services-text p:nth-child(3){
    font-family: calibri;
    color:#7e7d7d;
}

.services-text{
    width: 500px;
    margin: 50px 0px;
}

.box-1, .box-2, .box-3{
    width:300px;
    height:320px;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}

.box-container{
    display:flex;
    justify-content: space-between;
}

.box-1{
    background-image: url("/static/images/services-1.png");
}

.box-2{
    background-image: url("/static/images/services-2.png");
}

.box-3{
    background-image: url("/static/images/services-3.png");
}

.box-1 span, .box-2 span, .box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family:calibri;
    font-weight:bold;
}

.heading {
    color: white;
}
.box-1 p, .box-2 p, .box-3 p{
    font-family: calibri;
    font-size:18px; 
}

.details{
    font-family: calibri;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}

.box-1 button, .box-2 button, .box-3 button{
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-me{
    width: 100%;
    height: 280px;
    background-image: url("/static/images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p{
    color:#FFFFFF;
    font-size: 25px;
    font-family: calibri;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact-me button{
    display: inline;
}

